.wrapper-item {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 450px;
    min-height: 150px;
    float: left;
    margin: 3px;
    padding: 3px;
    align-items: center;
    justify-items: center;
}

.poster {
    grid-column: 1;
    grid-row: 1 / 8;
}

.caption {
    grid-column: 1;
    grid-row: 9 / 10;
}

img {
    height: 450px;
}

.buy-button {
    width: 100%;
}
