<div class="wrapper-item">
    <div class="poster" *ngIf="this.dataSource && this.dataSource.show === null">
        <img src="../../../assets/placeholder.jpg"/>
    </div>
    <div class="poster" *ngIf="this.dataSource && this.dataSource.show">
        <img [src]="dataSource.show.posterUrl" alt="dataSource.show.name" />
    </div>
    <div>
        <div>
            Дата сеанса: {{dataSource.day.name}} {{dataSource.time.name}}
        </div>
        <div>
            Доступно: {{dataSource.ticketsQty}} билетов
        </div>
        <div>
            <dx-button class="buy-button" text="Купить билет" type="success" (click)="onBuyTicket()"></dx-button>
        </div>
    </div>
</div>
