.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    column-gap: 10px;
    width: 300px;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

img {
    max-width: 100%;
    height: auto;
}

.poster {
    grid-column: 1;
    grid-row: 1;
    width: 500px;
    height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

.description {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

.btn {
    width: 100%;
    margin-top: 3px;
}
