<h2 class="content-block">
    <dx-button icon="arrowleft" (click)="onGoBack()"></dx-button>
    Купить билет на шоу {{agenda.show.name}}</h2>

<div class="content-block dx-card responsive-paddings">
    <div class="wrapper">
        <div class="poster">            
            <img [src]="agenda.show.posterUrl" alt="agenda.show.name" />
        </div>
        <div class="description">
            <dx-text-box placeholder="Введите e-mail" [(value)]="emailValue"></dx-text-box>
            <dx-button class="btn" type="success" text="Отправить билет на email" (click)="onSendByEmail()"></dx-button>
            <dx-button class="btn" type="success" text="Зарегистрироваться" (click)="onRegister()"></dx-button>
        </div>
    </div>
</div>
