<h2 class="content-block">Управление шоу</h2>

<div class="content-block dx-card responsive-paddings">
    <dx-data-grid
        [dataSource]="shows"
        [showBorders]="false"
        [allowColumnReordering]="true"
        (onRowInserting)="rowShowInserting($event)"
        (onRowUpdated)="rowShowUpdated($event)"
        (onRowRemoved)="rowShowRemoved($event)">
        <dxo-editing 
            mode="row"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
        </dxo-editing>

        <dxi-column dataField="name" caption="Наименование шоу"></dxi-column>
        <dxi-column dataField="posterUrl" caption="URL постера"></dxi-column>        
    </dx-data-grid>
</div>

<h2 class="content-block">Управление афишей</h2>

<div class="content-block dx-card responsive-paddings">
    <dx-data-grid
        [dataSource]="agendas"
        [showBorders]="false"
        [allowColumnReordering]="true"
        (onRowInserting)="rowAgendaInserting($event)"
        (onRowUpdated)="rowAgendaUpdated($event)"
        (onRowRemoved)="rowAgendaRemoved($event)">
        <dxo-editing 
            mode="row"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
        </dxo-editing>
        <dxo-group-panel [visible]="true"></dxo-group-panel>

        <dxi-column dataField="showId" caption="Шоу">
            <dxo-lookup [dataSource]="shows" valueExpr="id" displayExpr="name"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="dayId" caption="День">
            <dxo-lookup [dataSource]="days" valueExpr="id" displayExpr="name"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="timeId" caption="Время">
            <dxo-lookup [dataSource]="times" valueExpr="id" displayExpr="name"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="agendaDate" caption="Дата" dataType="date" [format]="dateFormat"></dxi-column>
        <dxi-column dataField="ticketsQty" caption="Кол-во билетов"></dxi-column>
    </dx-data-grid>
</div>
