<h2 class="content-block">Афиша</h2>

<div class="content-block dx-card responsive-paddings">
    <div *ngIf="agendas$ | async">
        <app-box-office [dataSource$]="agendas$" (buy)="onBuy($event)"></app-box-office>
    </div>
    <div>
        <dx-button class="btn" text="Предыдущая страница" (click)="prevPage()"></dx-button>
        <dx-button class="btn" text="Следующая страница" (click)="nextPage()"></dx-button>
    </div>
</div>
